body {
    /* background-color: lightgrey; */
    text-align:center;
}

header {
    padding: 100px;
}

.title {
    background-color: teal;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.input-box {
    padding-bottom: 30px;
    border: 2px solid grey;
    width: 500px;
}

.submit-button {
    align-content: right;
}
