body {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.header {
    border-bottom: 50px;
    padding-bottom: 50px;
}

.mdl-navigation-link {
    text-decoration: none;
    color: white;
}