body {
    background: #fafafa;
    position: relative;
}

.mdl-layout__header-row {
  align-items: center;
  justify-content: center;
}
.mdl-layout {
  align-items: center;
  justify-content: center;
}
.mdl-layout__content {
	padding: 24px;
  flex: none;
}



